@layout('layouts/app')

@section('title')
  Dashboard
@endsection

@section('content')
  <h1 class="mb-3">Selamat Datang di Sistem Akademik</h1>
  <p class="lead">Gunakan menu di atas untuk mengelola data mahasiswa, prodi, matakuliah, dan pengisian KRS.</p>
@endsection
